<plugin name='uiregression' version='0.1' grailsVersion='1.1.1 &gt; *'>
  <author>Jozef Dransfield</author>
  <authorEmail>Jozef.Dransfield@me.com</authorEmail>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/UIRegression+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>SeleniumConfig</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='mavenCentral' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>